<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>ToolControl - admin interface</title>
  </head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}script.js"></script>
    <style type="text/css">
      tr.customer_inactive {
      background-color: #CCCCCC;
      }
      tr.customer_in_minus {
      background-color: #FF0000;
      }
      div.admin_pane#tools {
      display:block;
      }
      div.admin_pane {
      display:none;
      }
    </style>
  <body>
    <ul>
      <li><a href="{% url 'admin_index' %}">Forside</a></li>
      <li><a href="{% url 'customer_list' %}">Kundeliste</a></li>
      <li><a href="{% url 'customer_create' %}">Ny kunde</a></li>
      <li><a href="{% url 'log' %}">Logfil</a></li>
      <li><a href="{% url 'logout' %}">Log ud</a></li>
    </ul>
    {% block content %}{% endblock %}
  </body>
</html>
