body {
    background-image: url("/static/linen_bg_tile.jpg");
}

table {
    width: 100%;
    font: 32pt/48pt "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    color: #ffffff;
    border-spacing:1;
}

td {
    text-align: center;
    background: rgba(20,20,20,0.5); 
    color:white;
    padding:10px;
}

input, select {
    font: 32pt/48pt "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    width: 100%;
    border-radius: 15px;
    border:none;
    padding:5px;
    background-color:#FFFFFF;
}

select {
    text-align: center;
    padding-top:10px;
}

img {
    width: 50%;
}