<form method="POST" id="banner">
  {% csrf_token %}
  <select name="action">
    <option name="nothing">Med det markerede...</option>
    <option name="delete">Slet</option>
    <option name="make_active">Marker som aktiv</option>
    <option name="make_inactive">Marker som inaktiv</option>
    <option name="set_office_admin">Marker som kontoradmin</option>
    <option name="remove_office_admin">Fjern kontoradmin-status</option>
    <option name="set_tool_admin">Marker som værktøjsadmin</option>
    <option name="remove_tool_admin">Fjern værktøjsadmin-status</option>
    <option name="set_loan_flag">Sæt låneflag</option>
    <option name="remove_loan_flag">Fjern låneflag</option>
  </select>
</form>
