{% if search %}
<div class="search_banner">
  <img src="{{ STATIC_URL }}Icon_Info.svg">
  <span>Viser søgeresultater for {{ search }}</span>
</div>
{% endif %}

<table>
  <tr>
    <th>&nbsp;</th>
    <th>
      <a class="set_sorting" href="#" id="{{ name_sorting }}name">
	Navn
      </a>
    </th>
    <th>
      <a class="set_sorting" href="#" id="{{ category_sorting }}category">
	Kategori
      </a>
    </th>
    <th>
      <a class="set_sorting" href="#" id="{{ service_interval_sorting }}service_interval">
	Serviceinterval
      </a>
    </th>
    <th>
      <a class="set_sorting" href="#" id="{{ price_sorting }}price">
	Pris
      </a>
    </th>
    <th>
      <a class="set_sorting" href="#" id="{{ total_price_sorting }}total_price">
	Samlet pris
      </a>
    </th>
    <th>
      <a class="set_sorting" href="#" id="{{ number_of_tools_sorting }}number_of_tools">
	Antal værktøj
      </a>
    </th>
    <th>Funktioner</th>
  </tr>
  {% for model in models %}
  <tr class="object_line" id="{{ model.id }}">
    <td><input type="checkbox" class="object_checkbox"
	       name="{{ model.id }}"></td>
    <td>{{ model.name }}</td>
    <td>{{ model.category.name }}</td>
    <td>{{ model.service_interval }} måneder</td>
    <td>{{ model.price }} kr.</td>
    <td>{{ model.total_price }} kr.</td>
    <td>{{ model.number_of_tools }} stk.</td>
    <td class="functions">
      <a href="#{{ model.id }}" id="model" class="edit">
	<img src="{{ STATIC_URL }}Icon_Edit.svg">
      </a>
      <a href="#{{ model.id }}" id="model" class="delete">
	<img src="{{ STATIC_URL }}Icon_Delete.svg">
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
