{% if messages %}
  {% for message in messages %}
    <div class="message{% if message.tags %}-{{ message.tags }}{% endif %}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
<table class="list">
  <tr class="cycle1">
    <th><input type="checkbox" class="mark_all"></th>
    <th><a href="#name" class="order_by" id="order_by-name">Adresse</a></th>
    <th><a href="#is_active" class="order_by" id="order_by-is_active">Aktiv</a></th>
    <th>Funktioner</th>
  </tr>
  {% for buildingsite in constructionsite_list %}
  <tr class="{% cycle 'cycle2' 'cycle1' %}">
    <td>
      <input type="checkbox" class="object_checkbox" name="{{ buildingsite.pk }}">
    </td>
    <td>{{ buildingsite }}</td>
    <td><img src="{{ STATIC_URL}}Icon_{{ buildingsite.is_active }}.svg"></td>
    <td>
      <a href="#{{ buildingsite.pk }}" class="show_details">
	<img src="{{ STATIC_URL }}Icon_History.svg">
      </a>
      <a href="{% url 'update_building_site_v2' buildingsite.pk %}">
	<img src="{{ STATIC_URL }}Icon_Edit.svg">
      </a>
      <a href="{% url 'delete_building_site_v2' buildingsite.pk %}">
	<img src="{{ STATIC_URL }}Icon_Delete.svg">
      </a>
    </td>
  </tr>
  <tr id="details-{{ buildingsite.pk }}" class="details">
    <td colspan="11">
      <div>
	Detaljer
      </div>
    </td>
  </tr>
  {% endfor %}
</table>
