{% if messages %}
{% for message in messages %}
<div class="message{% if message.tags %}-{{ message.tags }}{% endif %}">
  {{ message }}
</div>
{% endfor %}
{% endif %}
<table class="list">
  <tr class="cycle1">
    <th class="checkbox"><input type="checkbox" class="mark_all"></th>
    <th><a href="#name" class="order_by" id="order_by-name">Adresse</a></th>
    <th><a href="#is_active" class="order_by" id="order_by-is_active">Aktiv</a></th>
    <th class="functions">Funktioner</th>
  </tr>
  {% for buildingsite in constructionsite_list %}
  <tr class="{% cycle 'cycle2' 'cycle1' %}">
    <td class="checkbox">
      <input type="checkbox" class="object_checkbox" name="{{ buildingsite.pk }}">
    </td>
    <td>{{ buildingsite }}</td>
    <td><img src="{{ STATIC_URL}}Icon_{{ buildingsite.is_active }}.svg" alt="{{ buildingsite.is_active"></td>
    <td class="functions">
      <a href="#{{ buildingsite.pk }}" class="show_details">
	<img src="{{ STATIC_URL }}Icon_History.svg" alt="Detaljer">
      </a>
      <a href="{% url 'update_building_site_v2' buildingsite.pk %}">
	<img src="{{ STATIC_URL }}Icon_Edit.svg" alt="Rediger">
      </a>
      <a href="{% url 'delete_building_site_v2' buildingsite.pk %}">
	<img src="{{ STATIC_URL }}Icon_Delete.svg" alt="Slet">
      </a>
    </td>
  </tr>
  <tr id="details-{{ buildingsite.pk }}" class="details">
    <td colspan="11">
      <div>
	Detaljer
      </div>
    </td>
  </tr>
  {% empty %}
  <tr class="cycle2">
    <td colspan="4" class="empty">
      Der er ingen byggepladser at vise.
    </td>
  </tr>
  {% endfor %}
</table>
