{% if messages %}
  {% for message in messages %}
    <div class="message{% if message.tags %}-{{ message.tags }}{% endif %}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
<table class="list">
  <tr class="cycle1">
    <th class="checkbox"><input type="checkbox" class="mark_all"></th>
    <th><a href="#name" class="order_by" id="order_by-name">Adresse</a></th>
    <th><a href="#location" class="order_by" id="order_by-location">Placering</a></th>
    <th><a href="#is_active" class="order_by" id="order_by-is_active">Aktiv</a></th>
    <th class="functions">Funktioner</th>
  </tr>
  {% for container in container_list %}
  <tr class="{% cycle 'cycle2' 'cycle1' %}">
    <td class="checkbox">
      <input type="checkbox" class="object_checkbox" name="{{ container.pk }}">
    </td>
    <td>{{ container }}</td>
    <td>{{ container.location|default_if_none:"Ikke i brug" }}</td>
    <td><img src="{{ STATIC_URL }}Icon_{{ container.is_active }}.svg"></td>
    <td class="functions">
      <a href="#{{ container.pk }}" class="show_details">
	<img src="{{ STATIC_URL }}Icon_History.svg">
      </a>
      <a href="{% url 'update_container_v2' container.pk %}">
	<img src="{{ STATIC_URL }}Icon_Edit.svg">
      </a>
      <a href="{% url 'delete_container_v2' container.pk %}">
	<img src="{{ STATIC_URL }}Icon_Delete.svg">
      </a>
    </td>
  </tr>
  <tr id="details-{{ container.pk }}" class="details">
    <td colspan="5">
      <div>
	Detaljer
      </div>
    </td>
  </tr>
  {% empty %}
  <tr class="cycle2">
    <td colspan="5" class="empty">
      Der er ingen containere at vise.
    </td>
  </tr>
  {% endfor %}
</table>
