{% if messages %}
  {% for message in messages %}
    <div class="message{% if message.tags %}-{{ message.tags }}{% endif %}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
<table class="list">
  <tr class="cycle1">
    <th><input type="checkbox" class="mark_all"></th>
    <th><a href="#name" class="order_by" id="order_by-name">Navn</a></th>
    <th><a href="#email" class="order_by" id="order_by-email">Email</a></th>
    <th><a href="#phone_number" class="order_by" id="order_by-phone_number">Telefonnummer</a></th>
    <th><a href="#is_active" class="order_by" id="order_by-is_active">Aktiv</a></th>
    <th><a href="#is_admin" class="order_by" id="order_by-is_admin">Admin</a></th>
    <th><a href="#is_loan_flagged" class="order_by" id="order_by-is_loan_flagged">Låneflag</a></th>
    <th>Funktioner</th>
  </tr>
  {% for employee in employee_list %}
  <tr class="{% cycle 'cycle2' 'cycle1' %}">
    <td>
      <input type="checkbox" class="object_checkbox" name="{{ employee.pk }}">
    </td>
    <td>{{ employee }}</td>
    <td>{{ employee.email|default:"Ikke oplyst" }}</td>
    <td>{{ employee.phone_number|default:"Ikke oplyst" }}</td>
    <td><img src="{{ STATIC_URL}}Icon_{{ employee.is_active }}.svg"></td>
    <td><img src="{{ STATIC_URL}}Icon_{{ employee.is_admin }}.svg"></td>
    <td>
      {% if employee.is_loan_flagged %}
      <img src="{{ STATIC_URL}}Icon_Warning.svg">
      {% endif %}
    </td>
    <td>
      <a href="#{{ employee.pk }}" class="show_details">
	<img src="{{ STATIC_URL }}Icon_History.svg">
      </a>
      <a href="{% url 'update_employee_v2' employee.pk %}">
	<img src="{{ STATIC_URL }}Icon_Edit.svg">
      </a>
      <a href="{% url 'delete_employee_v2' employee.pk %}">
	<img src="{{ STATIC_URL }}Icon_Delete.svg">
      </a>
    </td>
  </tr>
  <tr id="details-{{ employee.pk }}" class="details">
    <td colspan="11">
      <div>
	Detaljer
      </div>
    </td>
  </tr>
  {% endfor %}
</table>
