{% if messages %}
  {% for message in messages %}
    <div class="message{% if message.tags %}-{{ message.tags }}{% endif %}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
<table class="list">
  <tr class="cycle1">
    <th><input type="checkbox" class="mark_all"></th>
    <th><a href="#name" class="order_by" id="order_by-name">Navn</a></th>
    <th><a href="#category" class="order_by" id="order_by-category">Kategori</a></th>
    <th><a href="#service_interval" class="order_by" id="order_by-service_interval">Serviceinterval</a></th>
    <th><a href="#price" class="order_by" id="order_by-price">Pris</a></th>
    <th>Samlet pris</th>
    <th>Antal værktøj</th>
    <th>Funktioner</th>
  </tr>
  {% for toolmodel in toolmodel_list %}
  <tr class="{% cycle 'cycle2' 'cycle1' %}">
    <td>
      <input type="checkbox" class="object_checkbox" name="{{ toolmodel.pk }}">
    </td>
    <td>{{ toolmodel }}</td>
    <td>{{ toolmodel.category }}</td>
    <td>{{ toolmodel.service_interval }} måneder</td>
    <td>{{ toolmodel.price }} kr.</td>
    <td>{{ toolmodel.total_price }} kr.</td>
    <td>{{ toolmodel.number_of_tools }} stk.</td>
    <td>
      <a href="{% url 'update_tool_model_v2' toolmodel.pk %}">
	<img src="{{ STATIC_URL }}Icon_Edit.svg">
      </a>
      <a href="{% url 'delete_tool_model_v2' toolmodel.pk %}">
	<img src="{{ STATIC_URL }}Icon_Delete.svg">
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
