{% if messages %}
  {% for message in messages %}
    <div class="message{% if message.tags %}-{{ message.tags }}{% endif %}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
<table class="list">
  <tr class="cycle1">
    <th class="checkbox"><input type="checkbox" class="mark_all"></th>
    <th><a href="#name" class="order_by" id="order_by-name">Navn</a></th>
    <th>Antal modeller</th>
    <th>Antal værktøj</th>
    <th>Samlet pris</th>
    <th class="functions">Funktioner</th>
  </tr>
  {% for toolcategory in toolcategory_list %}
  <tr class="{% cycle 'cycle2' 'cycle1' %}">
    <td class="checkbox">
      <input type="checkbox" class="object_checkbox" name="{{ toolcategory.pk }}">
    </td>
    <td>{{ toolcategory }}</td>
    <td>{{ toolcategory.number_of_models }} stk.</td>
    <td>{{ toolcategory.number_of_tools }} stk.</td>
    <td>{{ toolcategory.total_price }} kr.</td>
    <td class="functions">
      <a href="#{{ toolcategory.pk }}" class="show_details">
	<img src="{{ STATIC_URL }}Icon_History.svg">
      </a>
      <a href="{% url 'update_tool_category_v2' toolcategory.pk %}">
	<img src="{{ STATIC_URL }}Icon_Edit.svg">
      </a>
      <a href="{% url 'delete_tool_category_v2' toolcategory.pk %}">
	<img src="{{ STATIC_URL }}Icon_Delete.svg">
      </a>
    </td>
  </tr>
  <tr id="details-{{ toolcategory.pk }}" class="details">
    <td colspan="6">
      <div>
	Detaljer
      </div>
    </td>
  </tr>
  {% empty %}
  <tr class="cycle2">
    <td colspan="6" class="empty">
      Der er ingen kategorier at vise.
    </td>
  </tr>
  {% endfor %}
</table>
