{% if messages %}
  {% for message in messages %}
    <div class="message{% if message.tags %}-{{ message.tags }}{% endif %}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
<table class="list">
  <tr class="cycle1">
    <th><input type="checkbox" class="mark_all"></th>
    <th><a href="#name" class="order_by" id="order_by-name">Navn</a></th>
    <th><a href="#model" class="order_by" id="order_by-model">Model</a></th>
    <th><a href="#model__category" class="order_by" id="order_by-model__category">Kategori</a></th>
    <th><a href="#container" class="order_by" id="order_by-container">Container</a></th>
    <th><a href="#last_service" class="order_by" id="order_by-last_service">Seneste service</a></th>
    <th><a href="#buy_date" class="order_by" id="order_by-buy_date">Indkøbsdato</a></th>
    <th><a href="#end_date" class="order_by" id="order_by-end_date">Ophørsdato</a></th>
    <th><a href="#location" class="order_by" id="order_by-location">Placering</a></th>
    <th><a href="#price" class="order_by" id="order_by-price">Pris</a></th>
    <th>Funktioner</th>
  </tr>
  {% for tool in tool_list %}
  <tr class="{% cycle 'cycle2' 'cycle1' %}">
    <td>
      <input type="checkbox" class="object_checkbox" name="{{ tool.pk }}">
    </td>
    <td>{{ tool }}</td>
    <td>{{ tool.model }}</td>
    <td>{{ tool.model.category }}</td>
    <td>{{ tool.container|default_if_none:"" }}</td>
    <td>{{ tool.last_service }}</td>
    <td>{{ tool.buy_date }}</td>
    <td>{{ tool.end_date|default_if_none:"" }}</td>
    <td>{{ tool.get_location }}</td>
    <td>{{ tool.price }} kr.</td>
    <td>
      <a href="#{{ tool.pk }}" class="show_details">
	<img src="{{ STATIC_URL }}Icon_History.svg">
      </a>
      <a href="{% url 'update_tool_v2' tool.pk %}">
	<img src="{{ STATIC_URL }}Icon_Edit.svg">
      </a>
      <a href="{% url 'delete_tool_v2' tool.pk %}">
	<img src="{{ STATIC_URL }}Icon_Delete.svg">
      </a>
    </td>
  </tr>
  <tr id="details-{{ tool.pk }}" class="details">
    <td colspan="11">
      <div>
	Detaljer
      </div>
    </td>
  </tr>
  {% endfor %}
</table>
