{% if messages %}
  {% for message in messages %}
    <div class="message{% if message.tags %}-{{ message.tags }}{% endif %}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
<table class="list">
  <tr class="cycle1">
    <th><input type="checkbox" class="mark_all"></th>
    <th>Navn</th>
    <th>Model</th>
    <th>Kategori</th>
    <th>Container</th>
    <th>Seneste service</th>
    <th>Indkøbsdato</th>
    <th>Ophørsdato</th>
    <th>Placering</th>
    <th>Pris</th>
    <th>Funktioner</th>
  </tr>
  {% for tool in tool_list %}
  <tr class="{% cycle 'cycle2' 'cycle1' %}">
    <td>
      <input type="checkbox" class="object_checkbox" name="{{ tool.pk }}">
    </td>
    <td>{{ tool }}</td>
    <td>{{ tool.model }}</td>
    <td>{{ tool.model.category }}</td>
    <td>{{ tool.container }}</td>
    <td>{{ tool.last_service }}</td>
    <td>{{ tool.buy_date }}</td>
    <td>{{ tool.end_date }}</td>
    <td>{{ tool.get_location }}</td>
    <td>{{ tool.price }}</td>
    <td>
      <a href="{% url 'update_tool_v2' tool.pk %}">Rediger</a>
      <a href="{% url 'delete_tool_v2' tool.pk %}">Slet</a>
    </td>
  </tr>
  {% endfor %}
</table>
