<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>ToolControl</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}v2_style.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}v2_print_style.css"
	  media="print">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}v2_script.js"></script>
  </head>
  <body>
    <div id="top">
      {% block top %}
      Top
      {% endblock %}
    </div>
    <div id="dropdown">
      <a href="{% url 'settings_v2' %}">Indstillinger</a>
      <a href="{% url 'logout_v2' %}">Log ud</a>
    </div>
    <div id="sub-top">
      {% block sub-top %}{% endblock %}
    </div>
    <div id="main-container">
      <div id="main">
	{% if messages %}
  	  {% for message in messages %}
	    <div class="message{% if message.tags %}-{{ message.tags }}{% endif %}">
	      {{ message|safe }}
	    </div>
	  {% endfor %}
	{% endif %}
	{% block main %}
	Main
	{% endblock %}
      </div>
    </div>
    <div id="sidebar-container">
      <div id="sidebar">
	{% block sidebar %}
	Sidebar
	{% endblock %}
      </div>
    </div>
  </body>
</html>
