<span class="details">Værktøj</span>
<hr class="details">
<table class="details">
  <tr>
    <th>Navn</th>
    <th>Model</th>
    <th>Kategori</th>
    <th>Seneste service</th>
    <th>Indkøbsdato</th>
    <th>Ophørsdato</th>
    <th>Placering</th>
    <th>Pris</th>
  </tr>
  {% for tool in container.tool_set.all %}
    <tr>
      <td>{{ tool }}</td>
      <td>{{ tool.model }}</td>
      <td>{{ tool.model.category }}</td>
      <td>{{ tool.last_service }}</td>
      <td>{{ tool.buy_date }}</td>
      <td>{{ tool.end_date|default:"" }}</td>
      <td>{{ tool.get_location }}</td>
      <td>{{ tool.price }} kr.</td>
    </tr>
  {% endfor %}
</table>

<span class="details">Udlån</span>
<hr class="details">
<table class="details">
  <tr>
    <th>Byggeplads</th>
    <th>Dato</th>
  </tr>
  {% for loan in container.containerloan_set.all %}
    <tr>
      <td>{{ loan.construction_site }}</td>
      <td>{{ loan.start_date }}{% if loan.end_date %} - {{ loan.end_date }}{% endif %}</td>
    </tr>
  {% endfor %}
</table>
