{% extends "version2/base.html" %}

{% block top %}
<a href="{% url 'tool_list_v2' %}" id="logo">ToolControl</a>
<a href="{% url 'tool_list_v2' %}" class="menu">Database</a>
<a href="#" class="menu">Statistik</a>
<a href="#" class="menu-right">{{ user }}&nbsp;&nbsp;&nbsp;&#9660;</a>
{% endblock %}

{% block sub-top %}
<div class="right-spacer">&nbsp;</div>
<div class="right">
  <form method="POST">
    <input type="text" class="search" name="search" value="Søg...">
  </form>
</div>
<div class="left">
  <form method="POST">
    <select class="action" name="action_type">
      <option value="none">Med det markerede...</option>
      <option value="aktiv">Marker som aktiv</option>
      <option value="inaktiv">Marker som inaktiv</option>
      <option value="administrator">Marker som administrator</option>
      <option value="fjern-administrator">Marker som ikke-administrator</option>
      <option value="laaneflag">Marker som med låneflag</option>
      <option value="fjern-laaneflag">Marker som uden låneflag</option>
      <option value="slet">Slet</option>
    </select>
  </form>
</div>
<div class="left">
  <a href="#" class="print"><img src="{{ STATIC_URL }}Icon_Print.svg"></a>
</div>
{% endblock %}

{% block sidebar %}
<div class="sidebar-menu-block">
  <span>Indhold</span>
</div>
<div class="sidebar-menu">
  <a href="{% url 'tool_list_v2' %}">Værktøj</a>
</div>
<div class="sidebar-menu">
  <a href="{% url 'tool_model_list_v2' %}">Modeller</a>
</div>
<div class="sidebar-menu">
  <a href="{% url 'tool_category_list_v2' %}">Kategorier</a>
</div>
<div class="sidebar-menu-active">
  <a href="{% url 'employee_list_v2' %}">Medarbejdere</a>
</div>
<div class="sidebar-menu">
  <a href="{% url 'building_site_list_v2' %}">Byggepladser</a>
</div>
<div class="sidebar-menu">
  <a href="{% url 'container_list_v2' %}">Containere</a>
</div>
<div class="sidebar-menu-block">
  <span>&nbsp;</span>
</div>
<div class="sidebar-menu-block">
  <span>Side</span>
</div>
<div class="sidebar-menu-active">
  <a href="{% url 'employee_list_v2' %}">Liste</a>
</div>
<div class="sidebar-menu">
  <a href="{% url 'create_employee_v2' %}">Opret ny medarbejder</a>
</div>
{% endblock %}

{% block main %}
<table class="list">
  <tr class="cycle1">
    <th class="checkbox"><input type="checkbox" class="mark_all"></th>
    <th><a href="#name" class="order_by" id="order_by-name">Navn</a></th>
    <th><a href="#email" class="order_by" id="order_by-email">Email</a></th>
    <th><a href="#phone_number" class="order_by" id="order_by-phone_number">Telefonnummer</a></th>
    <th><a href="#is_active" class="order_by" id="order_by-is_active">Aktiv</a></th>
    <th><a href="#is_admin" class="order_by" id="order_by-is_admin">Admin</a></th>
    <th><a href="#is_loan_flagged" class="order_by" id="order_by-is_loan_flagged">Låneflag</a></th>
    <th class="functions">Funktioner</th>
  </tr>
  {% for employee in employee_list %}
  <tr class="{% cycle 'cycle2' 'cycle1' %}">
    <td class="checkbox">
      <input type="checkbox" class="object_checkbox" name="{{ employee.pk }}">
    </td>
    <td>{{ employee }}</td>
    <td>{{ employee.email|default:"Ikke oplyst" }}</td>
    <td>{{ employee.phone_number|default:"Ikke oplyst" }}</td>
    <td><img src="{{ STATIC_URL}}Icon_{{ employee.is_active }}.svg"></td>
    <td><img src="{{ STATIC_URL}}Icon_{{ employee.is_admin }}.svg"></td>
    <td>
      {% if employee.is_loan_flagged %}
      <img src="{{ STATIC_URL}}Icon_Warning.svg">
      {% endif %}
    </td>
    <td class="functions">
      <a href="#{{ employee.pk }}" class="show_details">
	<img src="{{ STATIC_URL }}Icon_History.svg">
      </a>
      <a href="{% url 'update_employee_v2' employee.pk %}">
	<img src="{{ STATIC_URL }}Icon_Edit.svg">
      </a>
      <a href="{% url 'delete_employee_v2' employee.pk %}">
	<img src="{{ STATIC_URL }}Icon_Delete.svg">
      </a>
    </td>
  </tr>
  <tr id="details-{{ employee.pk }}" class="details">
    <td colspan="8">
      <div>
	Detaljer
      </div>
    </td>
  </tr>
  {% empty %}
  <tr class="cycle2">
    <td colspan="8" class="empty">
      Der er ingen medarbejdere at vise.
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
