{% extends "version2/base.html" %}

{% block top %}
<a href="{% url 'tool_list_v2' %}" id="logo">ToolControl</a>
<a href="{% url 'tool_list_v2' %}" class="menu">Database</a>
<a href="#" class="menu">Statistik</a>
<a href="#" class="menu-right">{{ user }}&nbsp;&nbsp;&nbsp;&#9660;</a>
{% endblock %}

{% block sidebar %}
<div class="sidebar-menu-block">
  <span>Indhold</span>
</div>
<div class="sidebar-menu-active">
  <a href="{% url 'tool_list_v2' %}">Værktøj</a>
</div>
<div class="sidebar-menu">
  <a href="{% url 'tool_model_list_v2' %}">Modeller</a>
</div>
<div class="sidebar-menu">
  <a href="{% url 'tool_category_list_v2' %}">Kategorier</a>
</div>
<div class="sidebar-menu">
  <a href="{% url 'employee_list_v2' %}">Medarbejdere</a>
</div>
<div class="sidebar-menu">
  <a href="{% url 'building_site_list_v2' %}">Byggepladser</a>
</div>
<div class="sidebar-menu">
  <a href="{% url 'container_list_v2' %}">Containere</a>
</div>
<div class="sidebar-menu-block">
  <span>&nbsp;</span>
</div>
<div class="sidebar-menu-block">
  <span>Side</span>
</div>
<div class="sidebar-menu">
  <a href="{% url 'tool_list_v2' %}">Liste</a>
</div>
<div class="sidebar-menu">
  <a href="{% url 'create_tool_v2' %}">Opret nyt værktøj</a>
</div>
{% endblock %}

{% block main %}
<form method="POST">
  {% csrf_token %}
  <table class="form">
    <tr class="non-field-error">
      <td>
	Er du sikker på, at du vil slette begivenheden {{ event.event_type }} ({{ event.start_date }}) for værktøjet {{ event.tool }}?
      </td>
    </tr>
    <tr>
      <td class="bottom">
	<input type="submit" value="Slet">
      </td>
    </tr>
  </table>
</form>
{% endblock %}
