{% extends "account_base.html" %}

{% block account_tickets_active %}-active{% endblock %}

{% block sub_top_bar %}
<a href="{% url 'account_ticket_list' %}">
  <span>Liste</span>
</a>
<a href="{% url 'account_ticket_create' %}">
  <span>Ny kupon</span>
</a>
{% endblock %}

{% block content %}
  {% for ticket in object_list %}
  <table class="list {% if not ticket.is_open %}closed-ticket{% endif %}">
    <tr>
      <td class="credit">
	{% if ticket.ticket_set.count == 0 %}
	  <div class="positive">
	    {{ ticket.ticket_set.count }}
	  </div>
	{% else %}
	  {% if ticket.ticket_set.count < 5 %}
            <div class="neutral">
	      {{ ticket.ticket_set.count }}
	    </div>
	  {% else %}
	    <div class="negative">
	      {{ ticket.ticket_set.count }}
	    </div>
	  {% endif %}
	{% endif %}
      </td>
      <td class="info">
	#{{ ticket.pk }}
	<a href="{% url 'account_ticket_detail' ticket.pk %}">{{ ticket.name }}</a>
	{% if ticket.duplicate %}
	<span class="duplicate">
	(dublet af #{{ ticket.duplicate.pk }} <a href="{% url 'ticket_detail' ticket.duplicate.pk %}">{{ ticket.duplicate.name }}</a>)
	</span>
	{% endif %}<br>
	{% if ticket.assigned_to %}
	Tildelt til {{ ticket.assigned_to }}
	{% else %}
	Ikke tildelt til nogen
	{% endif %}
      </td>
      <td class="activity">
	<img src="{{ STATIC_URL }}Icon_Settings.svg"
	     alt="Kupontype"> {{ ticket.level }}<br>
	<img src="{{ STATIC_URL }}Icon_Users.svg"
	     alt="Oprettet af"> Oprettet af {{ ticket.created_by|default_if_none:"systemet" }}<br>
	<img src="{{ STATIC_URL }}Icon_Chat.svg"
	     alt="Antal svar"> {{ ticket.ticketanswer_set.all.count }} svar
      </td>
      <td class="bools">
      </td>
    </tr>
  </table>
  <hr>
  {% endfor %} 
{% endblock %}
