{% extends "admin_base.html" %}

{% block customers_active %}-active{% endblock %}

{% block sub_top_bar %}
<a href="{% url 'customer_list' %}">
  <span>Liste</span>
</a>
<a href="{% url 'customer_create' %}">
  <span>Ny kunde</span>
</a>
{% endblock %}

{% block content %}
  {% for customer in object_list %}
  <table class="list">
    <tr>
      <td class="credit">
	{% if customer.credit < 0 %}
	  <div class="negative">
	    {{ customer.credit }}
	  </div>
	{% else %}
	  {% if customer.credit < 1000 %}
            <div class="neutral">
	      {{ customer.credit }}
	    </div>
	  {% else %}
	    <div class="positive">
	      {{ customer.credit }}
	    </div>
	  {% endif %}
	{% endif %}
      </td>
      <td class="info">
	<a href="{% url 'customer_detail' customer.pk %}">
	  {{ customer.name }}
	</a><br>
	KundeID #{{ customer.id }}<br>
	Kærvej 1&nbsp;&#183;&nbsp;2610 Rødovre
      </td>
      <td class="activity">
	<img src="{{ STATIC_URL }}Icon_Login.svg"> {{ customer.logins }} logins seneste måned<br>
	<img src="{{ STATIC_URL }}Icon_Tools.svg"> {{ customer.events }} begivenheder seneste måned<br>
	{% if customer.tickets %}
	<img src="{{ STATIC_URL }}Icon_Warning.svg"> <a href="{% url 'ticket_list' %}?customer={{ customer.id }}">{{ customer.tickets }} åbne kuponer</a>
	{% endif %}
      </td>
      <td class="bools">
	<img src="{{ STATIC_URL }}Icon_{{ customer.is_active }}.svg"><br>
	<a href="{% url 'customer_update' customer.pk %}">
	  <img src="{{ STATIC_URL }}Icon_Admin_Edit.svg">
	</a>
      </td>
    </tr>
  </table>
  <hr>
  {% endfor %} 
{% endblock %}
