{% extends "admin_base.html" %}

{% block customers_active %}-active{% endblock %}

{% block sub_top_bar %}
<a href="{% url 'customer_list' %}">
  <span>Liste</span>
</a>
<a href="{% url 'customer_create' %}">
  <span>Ny kunde</span>
</a>
{% endblock %}

{% block content %}
  {% for customer in object_list %}
  <table class="list">
    <tr>
      <td class="credit">
	{% if customer.credit < 0 %}
	  <div class="negative">
	    {{ customer.credit }}
	  </div>
	{% else %}
	  {% if customer.credit < 1000 %}
            <div class="neutral">
	      {{ customer.credit }}
	    </div>
	  {% else %}
	    <div class="positive">
	      {{ customer.credit }}
	    </div>
	  {% endif %}
	{% endif %}
      </td>
      <td class="info">
	<a href="{% url 'customer_detail' customer.pk %}">
	  {{ customer.name }}
	</a><br>
	KundeID #{{ customer.id }}<br>
	Kærvej 1&nbsp;&#183;&nbsp;2610 Rødovre
      </td>
      <td class="bools">
	{{ customer.is_active }}<br>
	<a href="{% url 'customer_update' customer.pk %}">
	  Rediger
	</a>
      </td>
    </tr>
  </table>
  <hr>
  {% endfor %} 

  <table border="1">
    <tr>
      <th>Kunde-ID</th>
      <th>Navn</th>
      <th>Aktiv</th>
      <th>SMS'er afsendt</th>
      <th>Kredit</th>
      <th>Funktioner</th>
    </tr>
  {% for customer in object_list %}
    <tr class="{% if customer.credit < 0 %}customer_in_minus{% endif %} {% if not customer.is_active %}customer_inactive{% endif %}">
      <td>{{ customer.pk }}</td>
      <td>
	<a href="{% url 'customer_detail' customer.pk %}">
	  {{ customer.name }}
	</a>
      </td>
      <td>{{ customer.is_active }}</td>
      <td>{{ customer.sms_sent }} stk.</td>
      <td>{{ customer.credit }} kr.</td>
      <td>
	<a href="{% url 'customer_update' customer.pk %}">
	  Rediger
	</a>
      </td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
