{% extends "admin_base.html" %}

{% block content %}
  {{ object.name }}<br>
  {{ object.credit }} kr.<br>

<a href="#" class="admin_pane" id="tools">Værktøj</a>
<a href="#" class="admin_pane" id="models">Modeller</a>
<a href="#" class="admin_pane" id="categories">Kategorier</a>
<a href="#" class="admin_pane" id="employees">Medarbejdere</a>
<a href="#" class="admin_pane" id="construction_sites">Byggepladser</a>
<a href="#" class="admin_pane" id="containers">Containere</a>

<div class="admin_pane" id="tools">
  <h1>Værktøj</h1>
  <table>
    <tr>
      <th>Navn</th>
      <th>Model</th>
      <th>Kategori</th>
      <th>Container</th>
      <th>Seneste service</th>
      <th>Indkøbsdato</th>
      <th>Ophørsdato</th>
      <th>Placering</th>
      <th>Pris</th>
    </tr>
    {% for tool in tools %}
    <tr>
      <td>{{ tool.name }}</td>
      <td>{{ tool.model.name }}</td>
      <td>{{ tool.model.category.name }}</td>
      <td>{{ tool.container }}</td>
      <td>{{ tool.last_service }}</td>
      <td>{{ tool.buy_date }}</td>
      <td>{{ tool.end_date }}</td>
      <td>{{ tool.get_location }}</td>
      <td>{{ tool.price }} kr.</td>
    </tr>
    {% endfor %}
  </table>
</div>

<div class="admin_pane" id="models">
  <h1>Modeller</h1>
  <table>
    <tr>
      <th>Navn</th>
      <th>Kategori</th>
      <th>Serviceinterval</th>
      <th>Pris</th>
      <th>Samlet pris</th>
      <th>Antal værktøj</th>
    </tr>
    {% for model in models %}
    <tr>
      <td>{{ model }}</td>
      <td>{{ model.category }}</td>
      <td>{{ model.service_interval }}</td>
      <td>{{ model.price }}</td>
      <td>{{ model.total_price }}</td>
      <td>{{ model.number_of_tools }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
  
<div class="admin_pane" id="categories">
  <h1>Kategorier</h1>
  <table>
    <tr>
      <th>Navn</th>
      <th>Antal modeller</th>
      <th>Antal værktøj</th>
      <th>Samlet pris</th>
    </tr>
    {% for category in categories %}
    <tr>
      <td>{{ category }}</td>
      <td>{{ category.number_of_models }}</td>
      <td>{{ category.number_of_tools }}</td>
      <td>{{ category.total_price }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

<div class="admin_pane" id="employees">
  <h1>Medarbejdere</h1>
  <table>
    <tr>
      <th>Navn</th>
      <th>Email</th>
      <th>Telefonnummer</th>
      <th>Aktiv</th>
      <th>Admin</th>
      <th>Låneflag</th>
    </tr>
    {% for employee in employees %}
    <tr>
      <td>{{ employee }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.phone_number }}</td>
      <td>{{ employee.is_active }}</td>
      <td>{{ employee.is_admin }}</td>
      <td>{{ employee.is_loan_flagged }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

<div class="admin_pane" id="construction_sites">
  <h1>Byggepladser</h1>
  <table>
    <tr>
      <th>Navn</th>
      <th>Aktiv</th>
    </tr>
    {% for construction_site in construction_sites %}
    <tr>
      <td>{{ construction_site.name }}</td>
      <td>{{ construction_site.is_active }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

<div class="admin_pane" id="containers">
  <h1>Containere</h1>
  <table>
    <tr>
      <th>Navn</th>
      <th>Placering</th>
      <th>Aktiv</th>
    </tr>
    {% for container in containers %}
    <tr>
      <td>{{ container }}</td>
      <td>{{ container.location }}</td>
      <td>{{ container.is_active }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
