{% extends "admin_base.html" %}

{% block customers_active %}-active{% endblock %}

{% block sub_top_bar %}
<a href="#" class="admin_pane" id="initial"><span>Overblik</span></a>
<a href="#" class="admin_pane" id="tools"><span>Værktøj</span></a>
<a href="#" class="admin_pane" id="models"><span>Modeller</span></a>
<a href="#" class="admin_pane" id="categories"><span>Kategorier</span></a>
<a href="#" class="admin_pane" id="employees"><span>Medarbejdere</span></a>
<a href="#" class="admin_pane" id="construction_sites"><span>Byggepladser</span></a>
<a href="#" class="admin_pane" id="containers"><span>Containere</span></a>
{% endblock %}

{% block content %}
<div class="admin_pane" id="initial">
  <table class="list  {% if not customer.is_active %}closed-ticket{% endif %}">
    <tr>
      <td class="credit">
	{% if customer.credit < 0 %}
	  <div class="negative">
	    {{ customer.credit }}
	  </div>
	{% else %}
	  {% if customer.credit < 1000 %}
            <div class="neutral">
	      {{ customer.credit }}
	    </div>
	  {% else %}
	    <div class="positive">
	      {{ customer.credit }}
	    </div>
	  {% endif %}
	{% endif %}
      </td>
      <td class="info">
	<a href="{% url 'customer_detail' customer.pk %}">
	  {{ customer.name }}
	</a><br>
	KundeID #{{ customer.id }}<br>
	{{ customer.address }}&nbsp;&#183;&nbsp;{{ customer.zip_code }} {{ customer.town }}
      </td>
      <td class="activity">
	<img src="{{ STATIC_URL }}Icon_Login.svg"
	     alt="Login seneste måned"> {{ customer.logins }} logins seneste måned<br>
	<img src="{{ STATIC_URL }}Icon_Tools.svg"
	     alt="Begivenheder seneste måned"> {{ customer.events }} begivenheder seneste måned<br>
	{% if customer.tickets %}
	<img src="{{ STATIC_URL }}Icon_Warning.svg"
	     alt="Åbne kuponer"> <a href="{% url 'ticket_list' %}?customer={{ customer.id }}">{{ customer.tickets }} åbne kuponer</a>
	{% endif %}
      </td>
      <td class="bools">
	<img src="{{ STATIC_URL }}Icon_{{ customer.is_active }}.svg"
	     alt="Kundeaktivitet"><br>
	<a href="{% url 'customer_update' customer.pk %}">
	  <img src="{{ STATIC_URL }}Icon_Admin_Edit.svg"
	       alt="Rediger kunde">
	</a>
      </td>
    </tr>
  </table>
  <hr>
</div>

<div class="admin_pane" id="tools">
  <h1>Værktøj</h1>
  <table class="database_list">
    <tr>
      <th>Navn</th>
      <th>Model</th>
      <th>Kategori</th>
      <th>Container</th>
      <th>Seneste service</th>
      <th>Indkøbsdato</th>
      <th>Ophørsdato</th>
      <th>Placering</th>
      <th>Pris</th>
    </tr>
    {% for tool in tools %}
    <tr>
      <td>{{ tool.name }}</td>
      <td>{{ tool.model.name }}</td>
      <td>{{ tool.model.category.name }}</td>
      <td>{{ tool.container }}</td>
      <td>{{ tool.last_service }}</td>
      <td>{{ tool.buy_date }}</td>
      <td>{{ tool.end_date }}</td>
      <td>{{ tool.get_location }}</td>
      <td>{{ tool.price }} kr.</td>
    </tr>
    {% endfor %}
  </table>
</div>

<div class="admin_pane" id="models">
  <h1>Modeller</h1>
  <table class="database_list">
    <tr>
      <th>Navn</th>
      <th>Kategori</th>
      <th>Serviceinterval</th>
      <th>Pris</th>
      <th>Samlet pris</th>
      <th>Antal værktøj</th>
    </tr>
    {% for model in models %}
    <tr>
      <td>{{ model }}</td>
      <td>{{ model.category }}</td>
      <td>{{ model.service_interval }}</td>
      <td>{{ model.price }}</td>
      <td>{{ model.total_price }}</td>
      <td>{{ model.number_of_tools }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
  
<div class="admin_pane" id="categories">
  <h1>Kategorier</h1>
  <table class="database_list">
    <tr>
      <th>Navn</th>
      <th>Antal modeller</th>
      <th>Antal værktøj</th>
      <th>Samlet pris</th>
    </tr>
    {% for category in categories %}
    <tr>
      <td>{{ category }}</td>
      <td>{{ category.number_of_models }}</td>
      <td>{{ category.number_of_tools }}</td>
      <td>{{ category.total_price }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

<div class="admin_pane" id="employees">
  <h1>Medarbejdere</h1>
  <table class="database_list">
    <tr>
      <th>Navn</th>
      <th>Email</th>
      <th>Telefonnummer</th>
      <th>Aktiv</th>
      <th>Admin</th>
      <th>Låneflag</th>
    </tr>
    {% for employee in employees %}
    <tr>
      <td>{{ employee }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.phone_number }}</td>
      <td>{{ employee.is_active }}</td>
      <td>{{ employee.is_admin }}</td>
      <td>{{ employee.is_loan_flagged }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

<div class="admin_pane" id="construction_sites">
  <h1>Byggepladser</h1>
  <table class="database_list">
    <tr>
      <th>Navn</th>
      <th>Aktiv</th>
    </tr>
    {% for construction_site in construction_sites %}
    <tr>
      <td>{{ construction_site.name }}</td>
      <td>{{ construction_site.is_active }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

<div class="admin_pane" id="containers">
  <h1>Containere</h1>
  <table class="database_list">
    <tr>
      <th>Navn</th>
      <th>Placering</th>
      <th>Aktiv</th>
    </tr>
    {% for container in containers %}
    <tr>
      <td>{{ container }}</td>
      <td>{{ container.location }}</td>
      <td>{{ container.is_active }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
