{% extends "admin_base.html" %}

{% block tickets_active %}-active{% endblock %}

{% block sub_top_bar %}
<a href="{% url 'ticket_list' %}">
  <span>Liste</span>
</a>
<a href="{% url 'ticket_create' %}">
  <span>Ny kupon</span>
</a>
{% endblock %}

{% block content %}
  {% for ticket in object_list %}
  <table class="list {% if not ticket.is_open %}closed-ticket{% endif %}">
    <tr>
      <td class="credit">
	{% if ticket.ticket_set.count == 0 %}
	  <div class="positive">
	    {{ ticket.ticket_set.count }}
	  </div>
	{% else %}
	  {% if ticket.ticket_set.count < 5 %}
            <div class="neutral">
	      {{ ticket.ticket_set.count }}
	    </div>
	  {% else %}
	    <div class="negative">
	      {{ ticket.ticket_set.count }}
	    </div>
	  {% endif %}
	{% endif %}
      </td>
      <td class="info">
	#{{ ticket.pk }}
	<a href="{% url 'ticket_detail' ticket.pk %}">{{ ticket.name }}</a>
	{% if ticket.duplicate %}
	<span class="duplicate">
	(dublet af #{{ ticket.duplicate.pk }} <a href="{% url 'ticket_detail' ticket.pk %}">{{ ticket.duplicate.name }}</a>)
	</span>
	{% endif %}<br>
	{% if ticket.reported_by %}
	Rapporteret af <a href="{% url 'customer_detail' ticket.reported_by.id %}">{{ ticket.reported_by }}</a><br>
	{% endif %}
	{% if ticket.assigned_to %}
	Tildelt til {{ ticket.assigned_to }}
	{% else %}
	Ikke tildelt til nogen
	{% endif %}
      </td>
      <td class="bools">
	<img src="{{ STATIC_URL }}Icon_{{ ticket.is_open }}.svg" 
	     alt="Åben/lukket kupon"><br>
	<a href="{% url 'ticket_update' ticket.pk %}">
	  <img src="{{ STATIC_URL }}Icon_Admin_Edit.svg"
	       alt="Rediger">
	</a>
      </td>
    </tr>
  </table>
  <hr>
  {% endfor %} 
{% endblock %}
