/************************************/
/*          MAIN STRUCTURE          */
/************************************/

body {
    margin:0px;
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    overflow-y:scroll;
}

img#loader {
    position:fixed;
    top:50%; left:50%;
    z-index: 99999;
}

div#top {
    position:fixed;
    width:100%;
    height:10%;
    background: -webkit-linear-gradient(top, #EEE 0%, #B8B8B8 100%); /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #EEE 0%, #B8B8B8 100%); /* FF3.6+ */
    z-index:100;
}

div#top_left {
    float:left;
    margin:10px;
}

div#top_right {
    float:right;
}

div#logo {
    margin:10px;
    color:#08c;
    font-size:30px;
    font-weight:bold;
}

div#menu {
    margin:10px;
    border: 2px solid #CCC;
    background-color:#F0F0F0;
    width:200px;
}

div#menu_hidden {
    display:none;
}

div.menu_item {
    padding:5px;
}

div.menu_item img {
    width:30px;
    vertical-align:middle;
    margin-right:5px;
}

div.menu_item:hover {
    background-color:#08c;
    color:#FFFFFF;
}

div#sidebar {
    position:fixed;
    top: 10%;
    width:20%;
    height:90%;
    background-color:#E0E0E0;
}

div#sidebar table {
    border-spacing:0px;
    width:100%;
}

div#sidebar td {
    padding:5px;
}

div#main {
    position:absolute;
    top: 10%;
    left:20%;
    width:80%;
    height:90%;
}

div#banner {
    width:100%;
    background-color: #FAFAFA;
    border-bottom:1px solid #888;
}

div#banner_left {
    float:left;
    margin:10px;
}

div#banner_right {
    float:right;
    margin:10px;
}

div#banner_right input, div#banner_right img, div#banner_left form, div#banner_left img {
    vertical-align:middle;
}

div#banner_left form {
    display:inline-block;
}

div#banner_left select, div#banner_right input, div#banner_right img, div#banner_left img {
    height:30px;
}

div#banner_right a {
    text-decoration:none;
}

div#banner_clear, div#top_clear {
    clear:both;
}

div.search_banner {
    border:1px solid brown; 
    background-color: #FFFFCC;
    text-align:center;
    padding:3px;
}

div.search_banner img, div.search_banner span {
    vertical-align:middle;
}

div#content, div#stats_container, div#settings_container {
    padding:10px;    
}

div#stats_container h3, div#settings_container h3 {
    margin:0px;
}

div#stats_container th, div#settings_container th {
    text-align:left;
    width:35%;
}

div#stats_container table, div#settings_container form {
    margin-bottom:10px;
}

div#stats_container hr, div#settings_container hr {
    margin:0px;
    border:none;
    height:1px;
    background-color:#888;
}

div#main table {
    width:100%;
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    border-spacing:0px;
}

div#content td.functions a {
    text-decoration:none;
}

div#content img {
    height:12pt;
}

div#content th {
    text-align:left;
}

div#content a {
    color:#000;
}
div#content a:hover {
    text-decoration:none;
}

/* Navigation selections */
td.selected {
    background-color:#08c;
    color:#FFFFFF;
}

tr.service_needed {
    background-color: #FFFFCC;
}    

/* List selections */
tr.selected {
    background-color:#08c;
}

tr.selected td {
    color: #FFF;
}

/* Tool history */
tr.history, tr.history div {
    display:none;
    background-color:#EEE;
}


form {
    margin:0px;
}

td.history_event_type {
    width:30%;
}

td.history_date {
    width:65%;
}

td.history_functions {
    width:5%;
    text-align:center;
}

/************************************/
/*              POPUP               */
/************************************/

div.popup {
    display:none;
    background: #333;
    padding: 10px; 	
    border: 2px solid #ddd;
    position: fixed; top:50%; left:50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999; /* CSS3 */
    -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
    color:#FFF;
}

div.popup a {
    color:#FFF;
    margin:5px;
    display:inline-block;
}

#mask {
    display: none;
    background: rgba(0,0,0,0.8); 
    position: fixed; left: 0; top: 0; 
    width: 100%; height: 100%;
    z-index: 999;
}

div#messages {
    position:fixed;
    text-align:center;
    top:50%; left: 50%;
    width:500px;
    display:none;
    z-index: 9999;
    background: #333;
    color:white;
    padding:10px;
}

div.popup#loan {
    text-align:center;
    width:300px;
    height:200px;
    overflow-y:auto;
}

div.popup#loan a:hover {
    text-decoration:none;
}

div.popup td.bottom {
    text-align:center;
}

div.popup th, div.popup td {
    color:white;
    font-size:9pt;
}

div.popup th {
    text-align: left;
}

div.popup input, div.popup select {
    box-shadow: 0px 0px 3px #333;
    border-radius: 5px;
    background-color: #EFEFEF;
    padding:5px;
    margin:3px;
    border:none;
    font-size:9pt;
    width:100%;
}
