{% if search %}
<div class="search_banner">
  <img src="{{ STATIC_URL }}Icon_Info.svg">
  <span>Viser søgeresultater for {{ search }}</span>
</div>
{% endif %}

<table>
  <tr>
    <th><input type="checkbox" class="mark_all"></th>
    <th>
      <a class="set_sorting" href="#" id="{{ name_sorting }}name">
	Navn
      </a>
    </th>
    <th>
      <a class="set_sorting" href="#" id="{{ number_of_models_sorting }}number_of_models">
	Antal modeller
      </a>
    </th>
    <th>
      <a class="set_sorting" href="#" id="{{ number_of_tools_sorting }}number_of_tools">
	Antal værktøj
      </a>
    </th>
    <th>
      <a class="set_sorting" href="#" id="{{ total_price_sorting }}total_price">
	Samlet pris
      </a>
    </th>
    <th>Funktioner</th>
  </tr>
  {% for category in categories %}
  <tr class="object_line" id="{{ category.id }}">
    <td><input type="checkbox" class="object_checkbox"
	       name="{{ category.id }}"></td>
    <td>{{ category.name }}</td>
    <td>{{ category.number_of_models }} stk.</td>
    <td>{{ category.number_of_tools }} stk.</td>
    <td>{{ category.total_price }} kr.</td>
    <td class="functions">
      <a href="#{{ category.id }}" id="category" class="edit">
	<img src="{{ STATIC_URL }}Icon_Edit.svg">
      </a>
      <a href="#{{ category.id }}" id="category" class="delete">
	<img src="{{ STATIC_URL }}Icon_Delete.svg">
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
