<html>
  <head>
    <title>ToolBase for Skou Gruppen A/S - Medarbejderliste</title>
    <style type="text/css">
      body {
        font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
      }
      table {
        width:100%;
        font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
        border-spacing:0;
      }
      th {
        text-align:left;
      }
      img {
        height:9pt;
      }
      tr.row1 {
        background-color: #EFEFEF;
      }
    </style>
  </head>
  <body onload="window.print();">
    {% if search %}
      Liste med søgeresultater for {{ search }}
    {% else %}
      Alle medarbejdere
    {% endif %}
    <table>
      <tr>
	<th>Navn</th>
	<th>Email</th>
	<th>Telefonnummer</th>
	<th>A</th>
	<th>KA</th>
	<th>VA</th>
	<th>LF</th>
      </tr>
      {% for employee in employees %}
        <tr class="{% cycle 'row1' 'row2' %}">
	  <td>{{ employee.name }}</td>
	  <td>{{ employee.email }}</td>
	  <td>{{ employee.phone_number }}</td>
	  <td>
	    {% if employee.is_active %}
	    <img src="{{ STATIC_URL }}Icon_True.svg">
	    {% endif %}
	  </td>
	  <td>
	    {% if employee.is_office_admin %}
	    <img src="{{ STATIC_URL }}Icon_Users.svg">
	    {% endif %}
	  </td>
	  <td>
	    {% if employee.is_tool_admin %}
	    <img src="{{ STATIC_URL }}Icon_Tools.svg">
	    {% endif %}
	  </td>
	  <td>
	    {% if employee.is_loan_flagged %}
	    <img src="{{ STATIC_URL }}Icon_Warning.svg">
	    {% endif %}
	  </td>
	</tr>
      {% endfor %}
    </table>
  </body>
</html>
