{% if search %}
<div class="search_banner">
  <img src="{{ STATIC_URL }}Icon_Info.svg">
  <span>Viser søgeresultater for {{ search }}</span>
</div>
{% endif %}

<table>
  <tr>
    <th class="object_checkbox"><input type="checkbox" class="mark_all"></th>
    <th>
      {% if ordering == "-name" %}
        <a class="set_ordering" href="#" id="name">
	  Navn
	</a>
      {% else %}
        <a class="set_ordering" href="#" id="-name">
	  Navn
	</a>
      {% endif %}
    </th>
    <th>
      {% if ordering == "-category__name" %}
        <a class="set_ordering" href="#" id="category__name">
	  Kategori
	</a>
      {% else %}
        <a class="set_ordering" href="#" id="-category__name">
	  Kategori
	</a>
      {% endif %}
    </th>
    <th>
      {% if ordering == "-service_interval" %}
        <a class="set_ordering" href="#" id="service_interval">
	  Serviceinterval
	</a>
      {% else %}
        <a class="set_ordering" href="#" id="-service_interval">
	  Serviceinterval
	</a>
      {% endif %}
    </th>
    <th>
      {% if ordering == "-price" %}
        <a class="set_ordering" href="#" id="price">
	  Pris
	</a>
      {% else %}
        <a class="set_ordering" href="#" id="-price">
	  Pris
	</a>
      {% endif %}
    </th>
    <th>
      Samlet pris
    </th>
    <th>
      Antal værktøj
    </th>
    <th class="functions">Funktioner</th>
  </tr>
  {% for model in object_list %}
  <tr class="object_line {% cycle 'row1' 'row2' %}" id="{{ model.id }}">
    <td class="object_checkbox"><input type="checkbox" class="object_checkbox"
				       name="{{ model.id }}" 
				       id="checkbox_{{ model.id }}"></td>
    <td><label for="checkbox_{{ model.id }}">{{ model.name }}</label></td>
    <td>{{ model.category.name }}</td>
    <td>{{ model.service_interval }} måneder</td>
    <td>{{ model.price }} kr.</td>
    <td>{{ model.total_price }} kr.</td>
    <td>{{ model.number_of_tools }} stk.</td>
    <td class="functions">
      <a href="#" id="{{ model.id }}" class="show_model_tools">
	<img src="{{ STATIC_URL }}Icon_History.svg">
      </a>
      <a href="#{{ model.id }}" id="model" class="edit">
	<img src="{{ STATIC_URL }}Icon_Edit.svg">
      </a>
      <a href="#{{ model.id }}" id="{{ model.name }}" class="delete">
	<img src="{{ STATIC_URL }}Icon_Delete.svg">
      </a>
    </td>
  </tr>
  <tr class="tools" id="{{ model.id }}">
    <td colspan="8">
      <div>
	Værktøj ikke hentet korrekt
      </div>
    </td>
  </tr>
  {% endfor %}
</table>
