<html>
  <head>
    <title>ToolControl for Skou Gruppen A/S - Værktøjsliste</title>
    <style type="text/css">
      body {
        font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
      }
      table {
        width:100%;
        font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
        border-spacing:0;
      }
      th {
        text-align:left;
      }
      img {
        height:9pt;
      }
      tr.row1 {
        background-color: #EFEFEF;
      }
    </style>
  </head>
  <body onload="window.print();">
    {% if search %}
      Liste med søgeresultater for {{ search }}
    {% else %}
      Alt værktøj
    {% endif %}
    <table>
      <tr>
	<th>Navn</th>
	<th>Model</th>
	<th>Kategori</th>
	<th>Seneste service</th>
	<th>Placering</th>
      </tr>
      {% for tool in tools %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td>{{ tool.name }}</td>
	<td>{{ tool.model.name }}</td>
	<td>{{ tool.model.category.name }}</td>
	<td>{{ tool.last_service }}</td>
	<td>
	  {% if tool.location == "Udlånt" %}
            {{ tool.loaned_to }}
	  {% else %}
            {{ tool.location }}
	  {% endif %}
	</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
