<form method="POST" id="banner">
  {% csrf_token %}
  <select name="action">
    <option name="nothing">Med det markerede...</option>
    {% if user.is_admin %}
      <option name="loan">Marker som udlånt</option>
      <option name="reserve">Reserver</option>
      <option name="delete">Slet</option>
      <option name="service">Marker som serviceret</option>
      <option name="repair">Marker som til reparation</option>
      <option name="end_loan">Marker som afleveret</option>
      <option name="scrap">Markeret som kasseret</option>
      <option name="lost">Marker som bortkommet</option>
    {% else %}
      <option name="loan_single">Lån</option>
      <option name="end_loan">Marker som afleveret</option>
    {% endif %}
  </select>
</form>
{% if user.is_admin %}
<a href="#" id="add_many" class="popup">
  <img src="{{ STATIC_URL }}Icon_Plus.svg">
  <img src="{{ STATIC_URL }}Icon_Plus.svg" style="margin-left:-20px;">
</a>
{% endif %}
