{% load tool_extras %}
{% if search %}
<div class="search_banner">
  <img src="{{ STATIC_URL }}Icon_Info.svg">
  <span>Viser søgeresultater for {{ search }}</span>
</div>
{% endif %}

<table>
  <tr>
    <th class="object_checkbox"><input type="checkbox" class="mark_all"></th>
    <th>
      {% if ordering == "-name" %}
        <a class="set_ordering" href="#" id="name">
	  Navn
	</a>
      {% else %}
        <a class="set_ordering" href="#" id="-name">
	  Navn
	</a>
      {% endif %}
    </th>
    <th>
      {% if ordering == "-model__name" %}
        <a class="set_ordering" href="#" id="model__name">
	  Model
	</a>
      {% else %}
        <a class="set_ordering" href="#" id="-model__name">
	  Model
	</a>
      {% endif %}
    </th>
    <th>
      {% if ordering == "-model__category__name" %}
        <a class="set_ordering" href="#" id="model__category__name">
	  Kategori
	</a>
      {% else %}
        <a class="set_ordering" href="#" id="-model__category__name">
	  Kategori
	</a>
      {% endif %}
    </th>
    <th>
      {% if ordering == "-last_service" %}
        <a class="set_ordering" href="#" id="last_service">
	  Seneste service
	</a>
      {% else %}
        <a class="set_ordering" href="#" id="-last_service">
	  Seneste service
	</a>
      {% endif %}
    </th>
    <th>
      {% if ordering == "-buy_date" %}
        <a class="set_ordering" href="#" id="buy_date">
	  Indkøbsdato
	</a>
      {% else %}
        <a class="set_ordering" href="#" id="-buy_date">
	  Indkøbsdato
	</a>
      {% endif %}
    </th>
    <th>
      {% if ordering == "-end_date" %}
        <a class="set_ordering" href="#" id="end_date">
	  Ophørsdato
	</a>
      {% else %}
        <a class="set_ordering" href="#" id="-end_date">
	  Ophørsdato
	</a>
      {% endif %}
    </th>
    <th>Placering</th>
    {% if user.is_admin %}
      <th>
	{% if ordering == "-price" %}
          <a class="set_ordering" href="#" id="price">
	    Pris
	  </a>
	{% else %}
          <a class="set_ordering" href="#" id="-price">
	    Pris
	  </a>
        {% endif %}
      </th>
    {% endif %}
    <th class="functions">Funktioner</th>
  </tr>
  {% for tool in object_list %}
    {% if tool|check_for_service %}
      <tr class="object_line service_needed {% cycle 'row1' 'row2' %}" id="{{ tool.id }}">
    {% else %}
      <tr class="object_line {% cycle 'row1' 'row2' %}" id="{{ tool.id }}">
    {% endif %}
    <td class="object_checkbox">
      <input type="checkbox" class="object_checkbox"
	       name="{{ tool.id }}">
    </td>
    <td>
      {{ tool.name }}
      {% if tool|check_for_service %}
        <img src="{{ STATIC_URL }}Icon_Warning.svg" title="Værktøjet skal serviceres">
      {% endif %}
    </td>
    <td>{{ tool.model.name }}</td>
    <td>{{ tool.model.category.name }}</td>
    <td id="last_service">{{ tool.last_service|date:"DATE_FORMAT" }}</td>
    <td>{{ tool.buy_date|date:"DATE_FORMAT" }}</td>
    <td>{{ tool.end_date|date:"DATE_FORMAT" }}</td>
    <td>{{ tool.get_location }}</td>
    {% if user.is_admin %}
    <td>{{ tool.price }} kr.</td>
	{% endif %}
    <td class="functions">
      <a href="#" id="{{ tool.id }}" class="show_history">
	<img src="{{ STATIC_URL }}Icon_History.svg">
      </a>
      {% if user.is_admin %}
        <a href="#{{ tool.id }}" id="tool" class="edit">
	  <img src="{{ STATIC_URL }}Icon_Edit.svg">
	</a>
	<a href="#{{ tool.id }}" id="{{ tool.name }}" class="delete">
	  <img src="{{ STATIC_URL }}Icon_Delete.svg">
	</a>
      {% endif %}
    </td>
  </tr>
  <tr class="history" id="{{ tool.id }}">
    <td colspan="10">
      <div>
	Historie ikke hentet korrekt
      </div>
    </td>
  </tr>
  {% endfor %}
</table>
