{% extends "qr/base.html" %}

{% block content %}
<table>
  <form method='POST'>
    {% csrf_token %}
    {% for error in form.non_field_errors %}
    <tr>
      <td class="error">
	{{ error }}
      </td>
    </tr>
    {% endfor %}
    <tr>
      <td>
	Vælg medarbejder og/eller placering for udlånet.
      </td>
    </tr>
    <tr>
      <td>
	{{ form.employee }}
      </td>
    </tr>
    <tr>
      <td>
	{{ form.construction_site }}
      </td>
    </tr>
    <tr>
      <td>
	<input type='submit' value='Lån!'>
      </td>
    </tr>
  </form>
</table>
{% endblock %}
